$--Light-Blue: #2196f3;

.color-line {
    color: $--Light-Blue;
    position: relative;
    top: 2px;
  }
  .color-line::after {
    position: relative;
    display: block;
    content: "";
    top: 27px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $--Light-Blue;
    pointer-events: none;
  }