$--Grey: #757575;
$--Light-Black: #212121;
$--White: #ffffff;
$--Light-Blue: #2196f3;
$--Black: #000000;

$site-fonts-roboto: "Roboto", sans-serif;
$site-fonts-releway: "Raleway", sans-serif;

$transition-brand: 250ms cubic-bezier(0.4, 0, 0.2, 1);

header {
  margin: auto;
  height: 80px;
  width: 100%;
  display: flex;
  justify-items: center;
  width: 1200px;
}

.header__container {
  display: flex;
  justify-items: center;
  width: 1200px;
}
.header__link {
  color: $--Light-Black;
  font-weight: 500;
  font-size: 14px;
  padding-right: 46px;
  transition: $transition-brand;
}

.header__link:hover,
.header__link:focus {
  color: $--Light-Blue;
}
.header__mail {
  display: flex;
  width: 161px;
  font-weight: 500;
  font-size: 14px;
  color: $--Grey;
  transition: $transition-brand;
}
.header__mail:hover .header__icon-mail-tel,
.header__tel:hover .header__icon-mail-tel {
  fill: $--Light-Blue;
}

.header__mail:hover,
.header__mail:focus {
  color: $--Light-Blue;
  fill: $--Light-Blue;
  transition: $transition-brand;
}

.header__tel {
  display: flex;
  width: 160px;
  font-weight: 500;
  font-size: 14px;
  color: $--Grey;
  transition: $transition-brand;
}
.header__tel:hover,
.header__tel:focus {
  color: $--Light-Blue;
  fill: $--Light-Blue;
  transition: $transition-brand;
}
.header__icon-mail {
  width: 16px;
  margin-right: 10px;
}

.header__studio-item {
  font-family: $site-fonts-releway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: $--Black;
  padding-right: 93px;
}

.header__webstudio {
  font-family: $site-fonts-releway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: $--Light-Blue;
  padding-top: 24px;
  margin: 0px;
}
.header__link-item {
  display: flex;
  width: 630px;
  margin: 0px;
  padding-top: 32px;
}
.header__contact {
  margin: 0px;
  padding-top: 32px;
  display: flex;
  gap: 30px;
}
.header__icon-mail-tel {
  width: 16px;
  margin-right: 10px;
}
