$--Withe-Grey: #f5f4fa;
$--Light-Black: #212121;
$--Svg-grey: #afb1b8;
$--White: #ffffff;

$--PBox-1: rgba(0, 0, 0, 0.1);
$--PBox-2: rgba(0, 0, 0, 0.08);
$--PBox-3: rgba(0, 0, 0, 0.12);

$--Shadow-RB-1: rgba(0, 0, 0, 0.12);
$--Shadow-RB-2: rgba(0, 0, 0, 0.14);
$--Shadow-RB-3: rgba(0, 0, 0, 0.2);

$transition-brand: 250ms cubic-bezier(0.4, 0, 0.2, 1);

.team {
  padding-top: 94px;
  background-color: $--Withe-Grey;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.team__container {
  margin: 0px;
}
.team__header {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: $--Light-Black;
  margin: 0px;
  padding-top: 94px;
}
.team__box-team {
  display: flex;
  justify-content: center;
  display: flex-box;
  flex-basis: calc((100% - 3 * 30px) / 4);
  gap: 30px;
  padding-top: 186px;
  margin: 0px;
  padding: 50px 215px 94px 215px;
}

.team__box-item {
  background-color: $--White;
  width: 270px;
  box-shadow: 0px 1px 3px $--Shadow-RB-1, 0px 1px 1px $--Shadow-RB-2,
    0px 2px 1px $--Shadow-RB-3;
  border-radius: 0px 0px 4px 4px;
}
.team__txt-position {
  font-weight: 400;
  font-size: 16px;
  color: $--Grey;
  text-align: center;
}
.team__txt-name {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
}
.team__social-media {
  padding: 16px 32px 18px 32px;
  height: 56px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  margin-bottom: 30px;
  transition: $transition-brand;
}
.team__social-media-icon {
  fill: $--Svg-grey;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $--White;
  cursor: pointer;
  transition: $transition-brand;
}
.team__social-media-icon:hover {
  background-color: $--Light-Blue;
  fill: $--White;
}
