$--Light-Black: #212121;
$--Light-Blue: #2196f3;
$--White: #ffffff;
$--Ligth-Grey: #e5e5e5;
$--Black: #000000;
$--Dark-Blue: #2f303a;
$--Withe-Grey: #f5f4fa;
$--Grey: #757575;
$--Gray-Shadow: #eeeeee;
$--Svg-grey: #afb1b8;
$--Shadow-Red-Black: rgba(0, 0, 0, 0.15);
$--Shadow-RB-1: rgba(0, 0, 0, 0.12);
$--Shadow-RB-2: rgba(0, 0, 0, 0.14);
$--Shadow-RB-3: rgba(0, 0, 0, 0.2);
$--PBox-1: rgba(0, 0, 0, 0.1);
$--PBox-2: rgba(0, 0, 0, 0.08);
$--PBox-3: rgba(0, 0, 0, 0.12);
$--Adress-Bottom: rgba(255, 255, 255, 0.6);
$--Black-social-media: rgba(255, 255, 255, 0.1);

$site-fonts-roboto: "Roboto", sans-serif;
$site-fonts-releway: "Raleway", sans-serif;

$transition-brand: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitiom-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
