$logo-second-color: #000000;
$brand-background-color: #2f303a;
$brand-color: #2196f3;
$brand-article-color: #212121;
$background-footer-social-icon: #ffffff1a;
$text-on-dark-background: #ffffff;
$item-gray: #757575;
$background-button-color: #f5f4fa;
$header-border-color: #ececec;
$extraocular-white: #afb1b8;
$background-roll-up: rgba(33, 150, 243, 0.9);

$site-fonts-roboto: "Roboto", sans-serif;
$site-fonts-releway: "Raleway", sans-serif;

$transition-brand: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transitiom-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);

$shadow-background: linear-gradient(
  0deg,
  rgba(44, 44, 44, 0.7) 0%,
  rgba(44, 44, 44, 0.2) 35%,
  rgba(44, 44, 44, 0.2) 65%,
  rgba(44, 44, 44, 0.2) 65%,
  rgba(44, 44, 44, 0.7) 100%
);

$brand-color: #2196f3;
$background-button-color: #f5f4fa;
$text-on-dark-background: #ffffff;
$brand-article-color: #212121;
$background-roll-up: rgba(33, 150, 243, 0.9);
$site-fonts-roboto: "Roboto", sans-serif;
$background-button-color: #f5f4fa;
$text-on-dark-background: #ffffff;
$brand-article-color: #212121;
